.git
.vscode
.editorconfig
img
etc
src
source
samples
tests
dist/etc
dist/samples
dist/tests
node_modules
.nyc_output
.nycrc
coverage
ava.config.js
package-lock.json
tsconfig.json
tslint.json
yarn.lock
