{
  "check-coverage": true,
  "lines": 50,
  "functions": 50,
  "branches": 50,
  "exclude": [
    "**/*.d.ts"
  ],
  "include": [
    "src/**/*.ts",
    "tests/**/*.ts"
  ],
  "require": [
    "ts-node/register",
    "source-map-support/register"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "temp-dir": "coverage/.output",
  "report-dir": "coverage",
  "cache": false,
  "all": true
}
